node_modules/
.expo/
dist/
web-build/
*.log

# macOS
.DS_Store

# Local env files
.env
.env*.local
customer-app/android/.kotlin/sessions/kotlin-compiler-375922111162582394.salive
.gitignore
customer-app/android/.kotlin/sessions/kotlin-compiler-9477611542891401421.salive
